* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

@font-face {
  font-family: grtsk;
  src: url("./../../fonts/Grtsk-Variable.woff2");
}
@font-face {
  font-family: gta-m;
  src: url("../../fonts/gta-medium.woff2");
}
@font-face {
  font-family: gta-r;
  src: url("../../fonts/gta-regular-italic.woff2");
}
@font-face {
  font-family: gta-i;
  src: url("../../fonts/gta-regular-italic.woff2");
}

$grtsk: grtsk;
$gta-m: gta-m;
$gta-r: gta-r;
$gta-i: gta-i;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin size {
  height: 100%;
  width: 100%;
}
@mixin transformCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  overflow: auto;
}

html,
body,
.page-container {
  font-family: "gta-r", sans-serif;
  @include size();
}
.page-container {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a {
  outline: none;
  color: #fff;
}
body {
  background: #040404;
  font-family: sans-serif;
}

.dropdown {
  position: fixed;
  background-color: #a0650c;
  top: 0;
  width: 100%;
  height: 0%;
  transition: all 0.8s ease;
  z-index: 10;

  &-container {
    position: relative;
    @include flex();
    transition: all 0.8s ease;
    opacity: 0;
    height: 100%;

    .dropdown-links {
      position: absolute;
      text-align: center;
      flex-direction: column;
      list-style: none;

      li {
        padding: 10% 0;
        a {
          text-decoration: none;
          font-family: $grtsk, sans-serif;
          color: #000;
          font-size: 4em;
          font-weight: bold;

          &:hover {
            color: #fe9800;
          }
        }
      }
    }
  }
}
.class {
  z-index: 20;
  height: 100%;
  overflow: hidden;
}
.boom {
  opacity: 1;
  pointer-events: all;
}
.nopointer {
  pointer-events: none;
}

// PRELOADER ***********************************
.preloader-container {
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161616;
  animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
  position: absolute;
  animation-fill-mode: forwards;
  z-index: 300;
}

.preloader-text-wrapper {
  color: white;
  position: absolute;
}

.textt {
  h1 {
    font-family: $grtsk, sans-serif;
    font-weight: lighter;
    font-size: 54px;
    pointer-events: none;
  }
}

.text-1,
.text-3,
.text-4,
.text-8,
.text-9,
.text-11 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white;
}

@keyframes preloaderBlink {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.text-1 {
  animation: preloaderBlink 0.8s linear 0.9s, blink 0.8s linear 2s;
  opacity: 0;
}

.text-2 {
  animation: preloaderBlink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

.text-3 {
  animation: preloaderBlink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text-4 {
  animation: preloaderBlink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text-5 {
  animation: preloaderBlink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text-6 {
  animation: preloaderBlink 0.8s linear 0.4s, blink 0.8s linear 2.5s,
    slide-out 1s linear 3.2s;
  opacity: 0;
}

.text-7 {
  animation: preloaderBlink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text-8 {
  animation: preloaderBlink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text-9 {
  animation: preloaderBlink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text-10 {
  animation: preloaderBlink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

.text-11 {
  animation: preloaderBlink 0.8s linear 0.9s, blink 0.8s linear 2s;
  opacity: 0;
}

@keyframes slide-out {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }

  19% {
    opacity: 100%;
  }
  20% {
    opacity: 0%;
  }

  39% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }

  59% {
    opacity: 100%;
  }
  60% {
    opacity: 0%;
  }

  79% {
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes slide-out-container {
  0% {
    height: 100vh;
  }

  40% {
    height: 100vh;
  }

  100% {
    height: 0%;
    pointer-events: none;
  }
}

.first-page-transition-animation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  pointer-events: none;
  transform: scaleX(0);
  background-color: #161616;
  z-index: 400;
}

// HEADER ***************************************

.header {
  font-family: $grtsk, sans-serif;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  top: 0;
  z-index: 30;
  background: transparent;
  font-variation-settings: "wdth" 1000, "wght" 700;

  .logo,
  .menu {
    font-size: 8px;
    cursor: pointer;
    color: #ffffff;
  }
}
.desktopMenu,
.desktopContacts {
  display: none;
  pointer-events: none;
}

// first hero **********************

.first-hero {
  @include size();
  position: relative;
  overflow: hidden;

  &-img {
    height: 100vh;
    transform: scale(1);
    transform-origin: 50% 80%;

    img {
      @include size();
      @include transformCenter();
      position: absolute;
      object-fit: cover;
    }
  }

  &-content {
    font-family: $gta-m, sans-serif;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -80%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    background: linear-gradient(to right, #fff, #fff 50%, transparent 50%);
    background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    // animation: animate 10s ease infinite forwards;
    text-align: center;
  }
}

// spacer

.spacer {
  height: 20vh;
  width: 100%;
}

// introduction

.introduction {
  @include size();
  display: flex;
  justify-content: space-evenly;

  flex-direction: column;
  padding: 0 5%;
  position: relative;
  overflow-x: hidden;

  .stick-one,
  .stick-two,
  .stick-three {
    position: absolute;
    background-color: aqua;
    box-shadow: 0px 0px 12px aqua;
    width: 4px;
    height: calc(100% - 20px);
    top: 10px;
    left: 22px;
    border-radius: 50%;
    overflow: hidden;
    filter: brightness(80%);
  }
  .stick-one {
    transform: rotate(160deg);
  }
  .stick-two {
    transform: rotate(280deg);
  }
  .stick-three {
    left: 80%;

    // transform: rotate(90deg);
  }
  .scanner {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 500px;
    border-radius: 50%;
    animation: scanner-loop 3s ease-in-out infinite;
  }

  &-content,
  &-footer {
    color: #ff9900;
    font-family: Audiowide;
    font-size: 24px;
    z-index: 5;

    span {
      color: #fff;
      &:hover {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
          0 0 40px #ff9900, 0 0 70px #ff9900, 0 0 80px #ff9900,
          0 0 100px #ff9900, 0 0 150px #ff9900;
      }
    }
  }
}

// second hero **********************

.second-hero {
  @include size();
  position: relative;
  overflow: hidden;

  &-container {
    max-width: 400px;

    position: relative;
    width: 80%;
    height: 100%;
    @include transformCenter();

    .second-hero-image {
      @include transformCenter();
      height: 60%;
      width: 100%;

      position: relative;
      overflow: hidden;
      z-index: 2;
      background-image: url("./../../images/hero-img.jpeg");
      background-size: cover;
      background-position: center;

      .text-dark {
        color: #ff9900;
      }
    }
    .text {
      color: white;
      margin: 0;
      font-size: 80px;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: -10%;
      transform: translateY(-50%);
      z-index: 1;
      text-transform: uppercase;
    }

    span {
      position: relative;
      display: block;
      line-height: 250px;
    }

    span:nth-child(1) {
      left: -20%;
    }
    span:nth-child(2) {
      right: -40%;
    }
    span:nth-child(3) {
      left: -20%;
    }
  }
}
// SLOGAN **************************

.slogan-container {
  @include size();
  padding: 5%;
  background: #000000;
  font-family: $gta-m, sans-serif;
  @include flex();
  flex-direction: column;
  justify-content: space-evenly;

  .slogan {
    color: #fff;
    position: relative;
    width: 100%;
    transition: all 2s ease;
    background: linear-gradient(to right, #fff, #fff 50%, transparent 50%);
    background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    // animation: animate 3s ease infinite forwards;

    &-border {
      width: 100%;
      height: 2px;
      position: absolute;
      background: #fff;
    }
  }
  .slogan:nth-child(1) {
    animation-delay: 0s;
  }
  .slogan:nth-child(2) {
    animation-delay: 0.2s;
  }
  .slogan:nth-child(3) {
    animation-delay: 0.4s;
  }
  .slogan:nth-child(4) {
    animation-delay: 0.6s;
  }
  .slogan:nth-child(5) {
    animation-delay: 0.8s;
  }

  .slogan:nth-child(6) {
    animation-delay: 1s;
  }
}

// SWiper ******************

.swiper-container {
  height: 60%;
  width: 100%;
  background: #000000;
  cursor: grab;
  .swiper-wrapper {
    @include size();

    .swiper-slide {
      overflow: hidden;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .firstS {
      background-image: url("./../../images/pexels-sebastiaan-stam-3014955.jpg");
    }
    .secondS {
      background-image: url("./../../images/pexels-ariel-paredes-2242452 (1).jpg");
    }
    .thirdS {
      background-image: url("./../../images/pexels-photo-2597901.jpeg");
    }
    .fourthS {
      background-image: url("./../../images/pexels-dark-indigo-3340136.jpg");
    }
    .fifthS {
      background-image: url("./../../images/pexels-nadi-lindsay-3078831.jpg");
    }
    .sixthS {
      background-image: url("./../../images/pexels-mark-dalton-1528348 (1).jpg");
    }
  }
}

// **************

.quotes-container {
  min-height: 40%;
  width: 100%;
  @include flex();
  justify-content: space-evenly;
  flex-direction: column;
  overflow-x: hidden;

  .quote {
    width: 100%;
    height: 20%;
    font-size: 5vw;
    display: flex;
    white-space: nowrap;
  }
  .quote1 {
    color: #228dff;
    font-family: Iceland;
    text-shadow: 0 0 20px #228dff;
    transform: translateX(-40%);
  }
  .quote2 {
    color: #ba01ff;
    font-family: Vampiro One;
    text-shadow: 0 0 20px #ba01ff;
    transform: translateX(-80%);
  }
  .quote3 {
    color: #ff9900;
    font-family: Audiowide;
    text-shadow: 0 0 20px #ff9900;
    transform: translateX(-40%);
  }
}

// PROJECTS

.projects-container {
  width: 100%;
  min-height: 100%;
  padding: 0 5%;

  .projects-title {
    color: #f2f2f2;
    font-family: sans-serif;
    width: 100%;
    font-size: 24px;
  }

  .project {
    max-width: 800px;
    width: 100%;
    padding: 10% 0;

    img {
      max-width: 800px;
      width: 100%;
      min-height: 316px;
      object-fit: cover;
    }
    &-footer {
      @include flex();
      justify-content: space-between;
      color: #f2f2f2;
      font-family: sans-serif;
      font-size: 7px;
      padding: 5% 0;
    }
  }
}

// ENJOY GLOWING

// contacts

.contact-container {
  min-height: 30%;
  width: 100%;
  color: #f2f2f2;
  font-family: $gta-m, sans-serif;
  @include flex();
  white-space: nowrap;
  font-size: 12.8px;
  overflow-x: hidden;

  z-index: 1;

  h1 {
    animation: textInfinite 20s linear infinite;
    a {
      text-decoration: none;
      filter: brightness(50%);
      transition: all 0.8s ease;
      cursor: pointer;

      &:hover {
        filter: brightness(100%);
      }
    }
  }
}

// KEYFRAMES ***********
@keyframes textInfinite {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-30%);
  }
}

@keyframes scanner-loop {
  0% {
    top: 0;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes animate {
  0% {
    background-position: 100%;
    text-shadow: none;
  }
  50% {
    background-position: 0% 100%;
    text-shadow: 0 0 10px #ffffff;
  }
  100% {
    text-shadow: none;
    background-position: 100%;
  }
}

// ********** PROJECT HTML ************************

.project-page-title {
  min-height: 20%;
  margin-top: 100px;
  width: 100%;
  padding: 5% 5%;

  h1 {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #fff, #fff 50%, transparent 50%);
    font-size: 5vw;
    background-clip: text;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    white-space: nowrap;
    line-height: 70px;

    &:hover {
      background-position: 0% 100%;
    }

    span {
      -webkit-text-fill-color: #fe9800;
      -webkit-text-stroke-width: 0;
      -webkit-text-stroke-color: none;
      font-weight: bolder;
    }
  }

  .project-page-border {
    width: 100%;
    height: 1px;
    background: #fff;
    margin: 2%;
  }
}

// CONTACT-HTML  ****************************

.contact-page {
  @include size();
  font-family: $gta-m, sans-serif;

  .contact-frontPage {
    @include size();
    @include flex();
    justify-content: space-between;
    flex-direction: column;
    padding: 200px 5% 200px 5%;
    align-items: flex-start;
    color: #ff9900;

    &-title {
      font-size: 3.7vw;
    }

    &-button {
      margin-left: auto;
      button {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: none;
        background-color: #ff9900;
        font-family: $gta-m, sans-serif;
        color: #000;
        font-size: 28.8px;
        cursor: pointer;
      }
    }
  }
}

.contact-form {
  position: absolute;
  left: 0;
  top: 0;
  background: #161616;
  height: 100%;
  width: 100%;
  color: #fe9800;
  font-family: $gta-r;
  padding: 0 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  transition: all 0.8s ease;
  z-index: 500;
  transform: translateX(-100%);

  &-closeBtn {
    margin-left: auto;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    outline: none;
  }

  input[type="text"] {
    width: 100%;
    padding: 20px 0;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-family: $grtsk;
    font-size: 19.2px;
    border-bottom: 1px solid #fff;
  }
  ::placeholder {
    color: #fff;
    font-size: 12.8px;
  }
  input[type="submit"] {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    border: none;
    background: #107bde;
    color: #fff;
    font-family: $gta-r;
    font-size: 24px;
  }
}

// ABOUT PAGE ***********************
.about-page {
  @include size();
  font-family: $grtsk, sans-serif;
  color: #fff;

  &-title {
    font-size: 19.2px;
    min-height: 30%;
    max-width: 600px;
    padding: 150px 5% 5% 5%;
    color: #fe9800;
  }

  &-content {
    font-family: $gta-r;
    font-size: 8px;
    padding: 30px 5%;
  }

  &-text {
    padding: 0 5%;
    .about-page-border {
      height: 2px;
      width: 100%;
      background-color: #fff;
    }
  }
  &-footer {
    padding: 5%;
  }
}

// MEDIA QUERIES

@media (min-width: 800px) {
  .first-hero {
    &-content {
      animation: animate 10s ease infinite forwards;
    }
  }

  .menu {
    display: none;
  }

  .spacer {
    height: 20vh;
  }

  .desktopMenu,
  .desktopContacts {
    font-family: $grtsk, sans-serif;
    position: fixed;
    display: block;
    z-index: 30;
    font-size: 14px;
    font-variation-settings: "wdth" 1000, "wght" 700;
    pointer-events: all;

    ul {
      list-style: none;

      li {
        text-align: end;
        padding: 5px;

        a {
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
  .desktopMenu {
    top: 4%;
    right: 5%;
  }
  .desktopContacts {
    bottom: 5%;
    left: 4%;

    ul {
      li {
        text-align: start;
      }
    }
  }
  // *****************
  .introduction {
    .stick-one,
    .stick-two,
    .stick-three {
      filter: brightness(30%);
    }

    &-content,
    &-footer {
      font-size: 4vw;
    }
  }
  // *****************
  .enjoy-glowing {
    &::after {
      font-size: 20vw;
      animation: changeChar 10s infinite forwards;
    }
  }
  .contact-container {
    font-size: 5vw;
  }

  .swiper-container {
    height: 100%;
  }

  .contact-form {
    width: 400px;
  }

  .about-page {
    color: #a3a3a3;

    &-title {
      font-size: 4vw;
      max-width: 100%;
    }

    &-content {
      font-size: 1vw;
    }

    &-text {
      padding: 10% 5%;
      font-size: 2vw;
    }
    &-footer {
      font-size: 3vw;
    }
  }
  .dropdown {
    display: none;

    &-container {
      display: none;

      .dropdown-links {
        display: none;
      }
    }
  }
  .slogan-container {
    .slogan {
      animation: animate 3s ease infinite forwards;

      &-border {
        width: 0%;
      }
    }
  }
}

@media (min-width: 1000px) {
  .first-hero {
    &-content {
      font-size: 2vw;
    }
  }

  // ********
  .second-hero {
    &-container {
      max-width: 800px;

      .text {
        font-size: 160px;
      }

      span {
        position: relative;
        display: block;
        line-height: 250px;
      }
      span:nth-child(1) {
        left: -40%;
      }
      span:nth-child(2) {
        right: -50%;
      }
      span:nth-child(3) {
        left: -40%;
      }
    }
  }
  // *******
  .slogan-container {
    .slogan {
      font-size: 2vw;
    }
  }

  .slogan:nth-child(2) {
    text-align: center;
  }

  .slogan:nth-child(5) {
    text-align: center;
  }
  // *****************

  .projects-container {
    .projects-title {
      font-size: 48px;
    }
    .left-project {
      margin-left: auto;
    }

    .project {
      &-footer {
        font-size: 12.8px;
      }
    }
  }
  .spacer {
    height: 20vh;
  }
  .contact-form {
    width: 600px;
  }
}
